﻿@model IEnumerable<CouponCMS.Models.Coupon>
@{
    ViewBag.Title = "Home Page";
    var rnd = new Random();
}

@foreach (var item in Model.Where(x => x.Expire > DateTime.Now).OrderBy(x => rnd.Next()).Take(1))
{

    <div class="jumbotron">
        <h1>@Html.DisplayFor(modelItem => item.Tittle)</h1>
        <p class="lead">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
        <p><a href="/Coupons/Details/@Html.DisplayFor(modelItem => item.Id)" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
}

<div class="row">
    @foreach (var item in Model.Where(x => x.Expire > DateTime.Now).OrderByDescending(x => x.Id).Take(3))
    {
        <div class="col-md-4">
            <img src="@Html.DisplayFor(modelItem => item.Image)" style="max-width:100%;" />
            <h2>@Html.DisplayFor(modelItem => item.Tittle)</h2>
            <p style="margin-top: 2em; margin-bottom: 2em;">
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </p>
            <p><a class="btn btn-default" href="/Coupons/Details/@Html.DisplayFor(modelItem => item.Id)">Learn more &raquo;</a></p>
        </div>
    }
</div>